<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LIFXKit OS X Framework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LIFXKit OS X Static Library.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LIFXKit iOS Static Framework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LIFXKit iOS Static Library.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01A9104C18D027B200AD0A54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>838EE912190626E6006080E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83A18350190889C500CBF7E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83E9F63619079EBF00B2D79A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
